$xsmall: 360px;
$small: 480px;
$medium: 640px;
$large: 1024px;
$xlarge: 1440px;

@mixin breakpoint($point) {
  @if $point == xlarge-b  {
    @media only screen and(max-width: $xlarge) { @content ; }
  }
  @else if $point == large-b {
    @media only screen and(max-width: $large) { @content ; }
  }
  @else if $point == medium-b {
    @media only screen and(max-width: $medium) { @content ; }
  }
  @else if $point == small-b {
    @media only screen and (max-width: $small){ @content ; }
  }
  @else if $point == xsmall-b {
    @media only screen and (max-width: $xsmall){ @content ; }
  }
}