@charset "UTF-8";

// Settings
// ==================================================
$hamburger-padding-x                       : 0 !default;
$hamburger-padding-y                       : 0 !default;
$hamburger-layer-width                     : 50px !default;
$hamburger-layer-height                    : 4px !default;
$hamburger-layer-spacing                   : 10px !default;
$hamburger-layer-color                     : #4e4e4e !default;
$hamburger-layer-border-radius             : 5px !default;
$hamburger-hover-opacity                   : 0.7 !default;
$hamburger-hover-transition-duration       : 0.15s !default;
$hamburger-hover-transition-timing-function: linear !default;

$hamburger-hover-use-filter: false !default;
$hamburger-hover-filter    : opacity(50%) !default;




// Hamburger
// ==================================================
.hamburger {
  padding: $hamburger-padding-y $hamburger-padding-x 0 0;
  display: inline-block;
  cursor: pointer;

  transition-property: opacity, filter;
  transition-duration: $hamburger-hover-transition-duration;
  transition-timing-function: $hamburger-hover-transition-timing-function;

  // Normalize (<button>)
  font: inherit;
  color: inherit;
  text-transform: none;
  background-color: transparent;
  border: 0;
  margin: 0;
  overflow: visible;
  outline: none;
}

.hamburger-box {
  width: $hamburger-layer-width;
  height: $hamburger-layer-height * 3 + $hamburger-layer-spacing * 4;
  display: inline-block;
  position: relative;
  @include breakpoint(medium-b) {
    width: 35px;
    height: 21px;
  }
}

.hamburger-inner {
  display: block;
  top: 50%;
  margin-top: $hamburger-layer-height / -2;

  &,
  &::before,
  &::after {
    width: $hamburger-layer-width;
    height: $hamburger-layer-height;
    background-color: $hamburger-layer-color;
    border-radius: $hamburger-layer-border-radius;
    position: absolute;
    transition-property: transform;
    transition-duration: 0.15s;
    transition-timing-function: ease;
    @include breakpoint(medium-b) {
      width: 35px;
      height: 3px;
    }
  }

  &::before,
  &::after {
    content: "";
    display: block;
  }

  &::before {
    top: ($hamburger-layer-spacing + $hamburger-layer-height) * -1;
    @include breakpoint(medium-b) {
      top: -9px;
    }
  }

  &::after {
    bottom: ($hamburger-layer-spacing + $hamburger-layer-height) * -1;
    @include breakpoint(medium-b) {
      bottom: -9px;
    }
  }
}




  /*
   * Spin
   */
.hamburger--spin {
  .hamburger-inner {
    transition-duration: 0.3s;
    transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);

    &::before {
      transition: top 0.1s 0.34s ease-in,
      opacity 0.1s ease-in;
    }

    &::after {
      transition: bottom 0.1s 0.34s ease-in,
      transform 0.3s cubic-bezier(0.55, 0.055, 0.675, 0.19);
    }
  }

  &.is-active {
    .hamburger-inner {
      background-color: #fff;
      transform: rotate(225deg);
      transition-delay: 0.14s;
      transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);

      &::before {
        top: 0;
        opacity: 0;
        transition: top 0.1s ease-out,
        opacity 0.1s 0.14s ease-out;
        background-color: #fff;
      }

      &::after {
        bottom: 0;
        background-color: #fff;
        transform: rotate(-90deg);
        transition: bottom 0.1s ease-out,
        transform 0.3s 0.14s cubic-bezier(0.215, 0.61, 0.355, 1);
      }
    }
  }
}