$slick-dot-character: "\2022" !default;
$slick-opacity-default: 0.75 !default;
$slick-opacity-on-hover: 1 !default;
$slick-opacity-not-active: 0 !default;

$slick-dot-border-color: #c9c9c9;
$slick-dot-active-color: #a9afb3;
/* Dots */

.slick-dotted.slick-slider {
    margin-bottom: 30px;
}

.slick-dots {
    position: absolute;
    bottom: -25px;
    list-style: none;
    display: block;
    text-align: center;
    padding: 0;
    margin: 0;
    width: 100%;
    li {
        position: relative;
        display: inline-block;
        height: 20px;
        width: 20px;
        padding: 0;
        cursor: pointer;
        button {
            border: 1px solid $slick-dot-border-color;
            border-radius: 50%;
            background: transparent;
            display: block;
            height: 12px;
            width: 12px;
            outline: none;
            line-height: 0;
            font-size: 0;
            color: transparent;
            padding: 5px;
            cursor: pointer;
            &:hover, &:focus {
                outline: none;
                &:before {
                    opacity: $slick-opacity-on-hover;
                }
            }
            &:before {
                position: absolute;
                top: 0;
                left: 0;
                content: '';
                background: $slick-dot-active-color;
                border: 0;
                border-radius: 50%;
                width: 12px;
                height: 12px;
                line-height: 20px;
                text-align: center;
                opacity: $slick-opacity-not-active;
            }
        }
        &.slick-active button:before {
            opacity: $slick-opacity-default;
        }
    }
}