.about-us {
  padding-top: 117px;
  padding-bottom: 137px;
}

.about-us__icon {
  width: 52px;
  height: 43px;
  margin: auto;
  background-position: -7px -51px;
}

.about-us__text {
  padding-left: 47px;
  color: $gray-color;
  text-align: center;
  line-height: 33px;
  font-size: 18px;
}